* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    background-position: center;

}

.container {
    width: 100%;
}

.train-ticket {
    
    background-color: rgb(224, 49, 49);
    margin: 5px auto;
    padding: 10px;
    width: 380px;
    border-radius: 10px;
    color: white;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

.logo {
    background-color: white;
    padding: 10px;
    margin: 0;
    border-radius:3px;
}

.logo img {
    margin: 0 auto;
    display: block;
    border-radius: 3px;
}

.info-ticket {
    padding: 20px 9px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    text-transform: uppercase;
}

.info-offer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;
}

.km-price {
    padding-bottom: 10px;
}

#ticket-price {
    font-weight: bold;
}

.qrcode {
    text-align: center;
    padding-bottom: 20px;
}

.qrcode img {
    width: 300px;
    height: 300px;
    border-radius: 10px;

}

.buy-ticket {
    background-color: #006c67;
    width: 700px;
    margin:0 auto;
    color:white;
    border-radius:3px;
}

.bg-logo {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    padding-top:0px;
    padding-bottom:10px;
    margin-bottom:20px;

}

.buy img {
    width: 300px;
    background-color: white;
}



.form h2 {
    text-align: center;
}



.flex {
    display:flex;
    justify-content: center;

    padding:20px
}

.top-input {
    display:flex;
    justify-content: space-between;

}

.bottom-input {
    display:flex;
    justify-content: space-around;

}


input {
    border-radius:5px;
    border-color:white;
    height: 20px;
    margin-left:10px;
}

.form-button {
    display:flex;
    justify-content: center;
    padding-top:20px;
    padding-bottom:20px;
}

button {
    padding:10px 50px;
    background-color: rgb(161, 77, 77);
    border:0;
    cursor:pointer;
    border-radius:10px;
    font-weight: bold;
    color:white;

}

/* UTILITY */

.d-none {
    display:none;
}