* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container::before{
    content: "";
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.90;
}

body {
    height: 100vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    padding-bottom:10px;
}

.container {
    width: 100%;
}

.train-ticket {
    
    background-color: rgb(224, 49, 49);
    margin: 0 auto;
    padding: 10px;
    width: 380px;
    border-radius: 10px;
    color: white;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    position: relative;
    z-index: 1000;
}

.logo {
    background-color: white;
    padding: 10px;
    margin: 0;
    border-radius:3px;
}

.logo img {
    margin: 0 auto;
    display: block;
    border-radius: 3px;
}

.info-ticket {
    padding-top:10px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    text-transform: uppercase;
}

.info-offer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 30px;
}

.km-price {
    padding-bottom: 10px;
}

#ticket-price {
    font-weight: bold;
}

.qrcode {
    text-align: center;
    padding-bottom: 20px;
}

.qrcode img {
    width: 300px;
    height: 300px;
    border-radius: 10px;

}

.buy-ticket {
    background-color: #006c67;
    width: 700px;
    margin:0 auto;
    color:white;
    border-radius:3px;
    position: relative;
    z-index: 1000;
}

.bg-logo {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    padding-top:0px;
    padding-bottom:10px;
    margin-bottom:20px;

}

.buy img {
    width: 300px;
    background-color: white;
}



.form h2 {
    text-align: center;
}



.flex {
    display:flex;
    justify-content: center;
     margin:10px
}

.top-input {
    display:flex;
    justify-content: space-between;

}

.bottom-input {
    display:flex;
    justify-content: space-around;

}


input {
    border-radius:3px;
    border-color:white;
    height: 20px;
    margin-left:10px;
    border:none;
}

.form {
    margin-bottom:10px;
}

.form-button {
    display:flex;
    justify-content: center;
    padding-top:20px;
    padding-bottom:20px;
}

button {
    padding:10px 50px;
    background-color: rgb(161, 77, 77);
    border:0;
    cursor:pointer;
    border-radius:10px;
    font-weight: bold;
    color:white;

}

button:hover{
    background-color: red;
}

.ticket-owner {
    display:flex;
    justify-content: space-around;
    padding-bottom:10px;
    font-weight: bold;
    font-size:1.1rem;
}

.okerror-box {
    text-align: center;
    margin:0 auto;
    font-weight: bold;
    padding-bottom:5px;
    text-decoration:underline;
}

.input-text {
    background-color: #152e32;
    border-radius:5px;
    padding:15px;
}

/* UTILITY */

.d-none {
    display:none;
}

.red {
    color:red;
}

.green {
    color:rgb(8, 167, 8);
}

.heightmax {
    height: 100%;
}

/* MEDIA QUERY */
@media screen and (max-width:732px) {
    .buy-ticket {
        width: 95%;
    }
      .top-input {
        flex-flow: column;
    }
    .bottom-input {
        flex-flow:column;
    }


}

